<div class="__logket-debug-view">
    <div class="__logket-debug-view-body">
        <h3><img class="__logket-debug-view-warning-icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMzYuOCAxODguMDkgMTQ5LjM1IDM2LjIyYTI0Ljc2IDI0Ljc2IDAgMCAwLTQyLjcgMEwxOS4yIDE4OC4wOWEyMy41MSAyMy41MSAwIDAgMCAwIDIzLjcyQTI0LjM1IDI0LjM1IDAgMCAwIDQwLjU1IDIyNGgxNzQuOWEyNC4zNSAyNC4zNSAwIDAgMCAyMS4zMy0xMi4xOSAyMy41MSAyMy41MSAwIDAgMCAuMDItMjMuNzJNMTIwIDEwNGE4IDggMCAwIDEgMTYgMHY0MGE4IDggMCAwIDEtMTYgMFptOCA4OGExMiAxMiAwIDEgMSAxMi0xMiAxMiAxMiAwIDAgMS0xMiAxMiIgc3R5bGU9ImZpbGw6I2Y4ZmY3MjtmaWxsLW9wYWNpdHk6MSIvPjwvc3ZnPg==">{{title}}</h3>
        {{#description}}
            <p>{{description}}</p>
        {{/description}}
    </div>
    <div class="__logket-dump-debug-footer">
        <p>
            <a href="https://docs.logket.dev" target="_blank">Docs</a>
            <a href="https://status.logket.dev" target="_blank">Status</a>
        </p>
        <a href="https://app.logket.dev" target="_blank">
            <img class="__logket-debug-view-footer-logo" src="https://cdn.logket.dev/global/images/logket-white-text-logo.svg">
        </a>
    </div>
</div>